<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="ThietBiDienTuConnectionString" connectionString="Data Source=SMART-PC;Initial Catalog=ThietBiDienTu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ThietBiDienTu2ConnectionString" connectionString="Data Source=SMART-PC;Initial Catalog=ThietBiDienTu2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ThietBiDienTu3ConnectionString" connectionString="Data Source=SMART-PC;Initial Catalog=ThietBiDienTu3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ThietBiDienTu4ConnectionString" connectionString="Data Source=SMART-PC;Initial Catalog=ThietBiDienTu4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ThietBiDienTu5ConnectionString" connectionString="Data Source=SMART-PC;Initial Catalog=ThietBiDienTu5;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ThietBiDienTuConnectionString2" connectionString="Data Source=MINE-PC\SQLEXPRESS;Initial Catalog=ThietBiDienTu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ThietBiDienTuConnectionString3" connectionString="Data Source=MINE-PC\SQLEXPRESS;Initial Catalog=ThietBiDienTu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ThietBiDienTuConnectionString4" connectionString="Data Source=MINE-PC\SQLEXPRESS;Initial Catalog=ThietBiDienTu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="thietbiData" connectionString="Data Source=MINE-PC\SQLEXPRESS;Initial Catalog=ThietBiDienTu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
