    /* ==============================================================

Project:	xxx - Creative Coming Soon Template
Info:		https://themeforest.net/item/xxx
Version:	1.0
Author:		3F-Team
Profile:	https://themeforest.net/user/3ftheme

-----------------------------------------------------------------
					*** TABLE OF CONTENTS ***
-----------------------------------------------------------------

	1.	General
	2.	xxx
	3.	xxx
	4.	xxx
	5.	xxx
	6.	xxx
	7.	xxx
	8.	xxx
	8.	xxx
	9.  xxx
	10.	xxx
	11.	xxx
	12.	xxx
		
=============================================================*/
/*********************
    - 1. General -
*********************/
html, body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

.list-inline {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.list-inline li {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  border: none;
  vertical-align: middle;
}

.container {
  margin: 0px auto;
  width: 1170px;
}

.col {
  float: left;
}

.fright {
  float: right;
}

.clear-fix, .clearfix {
  clear: both;
}

.col-16 {
  width: 16.6667%;
}

.col-25 {
  width: 25%;
}
.col-50 {
    width: 50%;
}
.col-75 {
  width: 75%;
}

.col-33 {
  width: 33.3333%;
}

.col-66 {
  width: 66.6667%;
}

.col-83 {
  width: 83.3333%;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.col-50 {
  width: 50%;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

.icon {
  width: 15px;
}

.icon2 {
  width: 17px;
}

.icon--sitebar {
  width: 23px;
  vertical-align: middle;
}

.header__top {
  background-color: #1899ed;
  line-height: 35px;
  color: #ffffff;
  font-size: 18px;
  vertical-align: middle;
}

.header__top .hot {
  margin-left: 45px;
}

.header__top ul > li {
  padding: 0 15px;
}

.header__mid {
  padding: 10px 0;
}

.header__logo a {
  display: block;
}

.header__search {
  display: inline-block;
  width: 80%;
  position: relative;
}

.header__search form {
  line-height: 51px;
  vertical-align: middle;
}

.header__search form input[type="search"] {
  padding: 8px 15px;
  width: 100%;
  border: 1px solid #000;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.header__search button {
  position: absolute;
  top: 29%;
  left: 95%;
  background: transparent;
  border: none;
  z-index: 9;
  cursor: pointer;
}

.header__cart a {
  display: block;
  padding: 8px 15px;
  border: 1px solid #ddd;
  border: 1px solid #22b7ff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  max-width: 75%;
  margin: 10px auto;
  font-weight: 500;
}

.header__cart a img {
  vertical-align: middle;
  margin-right: 5px;
}

.header__cart a:hover {
  background-color: #22b7ff;
  color: #ffffff;
}

.header__bottom {
  background-color: #1899ed;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
}

.header__category {
  line-height: 48px;
  vertical-align: middle;
}

.header__menu ul {
  display: table;
  width: 100%;
}

.header__menu ul li {
  line-height: 48px;
  vertical-align: middle;
  display: table-cell;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__menu ul > li > a {
  display: block;
  vertical-align: middle;
  font-size: 14px;
}

.header__menu li > ul {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  width: 250px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1;
  display: none;
}

.header__menu li > ul li {
  background-color: #1899ed;
  display: block;
  width: 100%;
  padding: 0 15px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__menu li:hover {
  background-color: #22b7ff;
}

.header__menu li:hover > ul {
  display: block;
}

h1 {
    margin:0;
}

.category {
  background-color: #1899ed;
  width: 16.6667%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.category.active{
}

.category__content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.category__content table a{
  padding: 10px;
  color: #fff;
  display:block;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.category__content table {
    width: 100%;
}
.category__content table span {
    vertical-align: middle;
    line-height: 23px;
    padding-left: 10px;
    display: inline-block;
}

.category__content table td:hover {
  background-color: #22b7ff;
}

.footer__top {
  background-color: #444;
}

.footer__top ul > li {
  padding: 20px 5px;
}

.footer__top--text {
  line-height: 79px;
  vertical-align: middle;
}

.footer__top--text span {
  margin-left: 10px;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

.footer__top--form {
  line-height: 79px;
  vertical-align: middle;
}

.footer__top--form input {
  padding: 10px 15px;
  border: 1px solid #444;
}

.footer__top--form input[type="submit"] {
  background-color: red;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #ffffff;
  border-color: red;
  cursor: pointer;
}

.footer__top--form input[type="submit"]:hover {
  background-color: #22b7ff;
  border-color: #22b7ff;
}

.footer__bottom {
  padding: 20px 0;
  position: relative;
  color: #999999;
}

.footer__bottom--infor {
  width: 50%;
  margin: 0 auto;
}

.footer__bottom--register {
  position: absolute;
  top: 8%;
  right: 0;
}

.content {
  position: relative;
}

.content__wrapper {
  margin-left: 195px;
  /*background: #ccc;*/
  padding: 20px;
  min-height: 500px;
}

.category__content li.active {
    background-color: #22b7ff;
}
.padding {
    padding: 10px 0;
}
.content__view {
    text-align:center;
}
.content__view th,
.content__view td{
    /*border: 1px solid #ccc;*/
    width: 25%;
    /*border-radius: 5px;
    transition: all 0.5s ease;*/
}

.content__view .item{
    border: 1px solid #ccc;
    padding: 5px 5px 15px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.content__view .item-text{
    padding: 15px 10px;
    transition: all 0.5s ease;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.content__view .item:hover{
    border-color: #1899ed;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.content__view .price{
    font-weight: 700;
    color: #f04e23;
    margin: 10px 0;
    display: inline-block;
    font-size: 16px;
}

.content__view .img{
    width:100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*display: inline-block;*/
}
    .content__view .img img {
        width: 100%;
        height: 200px;
    }

.content__view .name{
    line-height: 30px;
    height: 30px;
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}


.content__view p{
    display: table;
    width: 100%;
}
.content__view .btn{
    line-height: 25px;
    height: 25px;
    padding: 0 8px;
    margin: 0 2px;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
}
.content__view .btn-primary{
    border-radius: 30px;
    border: 1px solid transparent;
    background-color: #1899ed;
    color: #fff;
    cursor: pointer;
    display: inline-block;
}

.content__view .btn-primary:hover{
    background-color: #ea723d;
}
/*detail*/
.item-img{
    width: 50%;
    text-align:center;
}
    .item-img img {
        width: 90%;
    }
.content-detail {
    width : 100%;
}
.content-detail th,.content-detail td {
}
.item-information {
    padding: 40px 0;
    width: 50%;
}
.item-detail {
    width: 100%;
}
.item-information .name {
    line-height: 30px;
    height: 30px;
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0;
}
.item-information .price {
    padding: 10px 25px;
    background: #f0562d;
    margin: 10px 0;
    display: inline-block;
}
.item-information .price-item {
    font-weight: 700;
    color: #fff;
    margin-left: 10px;
    display: inline-block;
    font-size: 25px;
    display: inline-block;
}
.item-method h3 {
    margin: 0;
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #999;
    line-height: 30px;
    vertical-align: middle;
}
.item-method__wrap {
    padding: 0 10px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    /*margin-top: 30px;*/
}
    .item-method__wrap .name {
        text-align: center;
        display: inherit;
        font-size: 20px;
        font-weight: 700;
        line-height: 50px;
        height: 50px;
        vertical-align: middle;
        color: red;
    }
.text-highlight{
    background: #009bdd;
    height: 45px;
    line-height: 45px;
    color: #fff;
    padding: 0 15px;
    vertical-align: middle;
    width: 200px;
    display: inherit;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
    box-shadow: -5px 5px 5px 0px #2543db;
}
    .item-method__wrap p {
        margin-bottom: 25px;
    }
    .item-method__wrap span {
        line-height: 30px;
        vertical-align: middle;
        font-size: 18px;
    }
.item-information .button {
    margin: 10px 0 ;
}
.item-information .btn-primary {
    border: 1px solid transparent;
    background-color: #1899ed;
    color: #fff;
}
.item-information .btn {
    line-height: 45px;
    height: 45px;
    padding: 0 8px;
    display: inline-table;
    vertical-align: middle;
    font-weight: 700;
    font-size: 20px;
    width: 150px;
    outline: none;
    text-align: center;
    margin-right: 10px;
}
    .item-information .btn:hover {
        background: #f0562d; 
    }
table.content__view {
    width: 100%;
}
.border {
    border: 1px solid #ccc;
}
.padding_side {
    padding: 10px;
}
/*trung tâm*/
